<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | Currency Converter</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
    <div id="title">Currency Converter</div>
    <div class="not-found-title">404</div>
    <div class="not-found-body">Page Not Found</div>

    <script>
      document.onkeydown = e => {
        if(e.keyCode == 123) return false
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) return false
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) return false
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) return false
        if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) return false
      }

      document.addEventListener("contextmenu", event => event.preventDefault())
      document.addEventListener("dragstart", event => event.preventDefault())
      document.addEventListener("drop", event => event.preventDefault())
    </script>

  </body>
</html>