<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | Currency Converter</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
    <div id="container">
      <div id="title">Currency Converter</div>
      <div>404 Page Not Found</div>
    </div>
  </body>
</html>