<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/favicon.png" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <div id="container">
      <div id="title">Currency Converter</div>
      <form>
        <div>
          <select name="currency" id="base-currency"></select>
          <input type="number" placeholder="0" min="0" id="base-input" />
        </div>
        <div>
          <select name="currency" id="to-currency"></select>
          <input type="number" placeholder="0" min="0" id="to-input" />
        </div>
      </form>
    </div>
  </body>
</html>