input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
  background: dodgerblue linear-gradient(70deg, aqua, dodgerblue, rgb(0, 235, 90)) fixed;
  color: white;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

#container {
  margin-top: 150px;
}

#title {
  font-size: 50px;
  font-weight: bolder;
  margin: 50px;
}
